@import "tailwindcss";

:root {
  --white-color1: #FFF;
  --danger-color1: #DB2629;
}

body {
  min-height: 100vh;
  background: linear-gradient(#232630, #050507);
}

.social-icon {
  width: 35px; 
  height: 35px;
  fill: var(--white-color1);
}

.danger-button {
  color: var(--danger-color1); 
  width: 28px; 
  height: 28px;
}

.animation-bounce-in-2s {
    animation: bounceIn;
    animation-duration: 2s;
}

.animation-back-in-up-in-2s {
    animation: backInUp;
    animation-duration: 2s;
}
